<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>إضافة مستعمل</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Bootstrap Core CSS RTL-->
    <link href="{{ asset('css/bootstrap-rtl.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/skin-blue.min.css') }}">
    <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ asset('css/sb-admin-rtl.css') }}" rel="stylesheet">
    <link href="{{ asset('css/users.css') }}" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body onload="initialisation()">
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('get_users') }}" style="margin-left:20px;">Snap Sell</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-left top-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ admin.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('show_user',{'id': admin.id}) }}"><i class="fa fa-fw fa-user"></i> الحساب </a>
                    </li>
                    <li>
                        <a href="{{ path('mail_box') }}"><i class="fa fa-fw fa-envelope"></i> صندوق الرسائل </a>
                    </li>
                    <li>
                        <a href="{{ path('update_user',{'id': admin.id}) }}"><i class="fa fa-fw fa-gear"></i> الإعدادات </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off"></i>  تسجيل الخروج </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav" id="sidenav">

                <li >
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-shopping-cart" ></i> إدارة المواد  <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="{{ path('new_product') }}"><i class="fa fa-pencil " style="padding-left: 5px;"></i> إضافة مادة</a>
                        </li>
                        <li>
                            <a href="{{ path('get_products') }}"><i class="fa fa-th-list" style="padding-left: 5px;"></i>  قائمة المواد</a>
                        </li>
                    </ul>
                </li>
                <li class="active" >
                    <a href="javascript:;"  data-toggle="collapse" data-target="#sub_menu_user"><i class="fa fa-fw fa-user"></i> إدارة المستعملين<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="sub_menu_user" class="collapse">
                        <li class="active">
                            <a href="{{ path('new_user') }}"><i class="fa fa-pencil " style="padding-left: 5px;"></i>إضافة مستعمل</a>
                        </li>
                        <li >
                            <a href="{{ path('get_users') }}"><i class="fa fa-th-list" style="padding-left: 5px;"></i>قائمة المستعملين</a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="javascript:;"  data-toggle="collapse" data-target="#sub_menu_mail"><i class="fa fa-envelope-o" style="margin-right: 3px;margin-left: 5px;"></i> صندوق الرسائل <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="sub_menu_mail" class="collapse">
                        <li >
                            <a href="{{ path('compose_mail') }}"><i class="fa fa-pencil " style="padding-left: 5px;"></i>رسالة  جديدة </a>
                        </li>
                        <li >
                            <a href="{{ path('mail_box') }}"><i class="fa fa-inbox" style="padding-left: 5px;"></i>البريد الوارد</a>
                        </li>
                    </ul>
                </li>
                <li {% block acivateComment %}{% endblock %}><a href="{{ path('get_comments') }}"><i class="fa fa-comments" style="margin-right: 3px;margin-left: 6px;"></i>إدارة التعليقات</a> </li>
                <li {% block acivateMedia %}{% endblock %}><a href="{{ path('get_media') }}"><i class="fa fa-image" style="margin-right: 3px;margin-left: 6px;"></i>إدارة الميديا</a> </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">

                        <li class="active">
                            <a href="{{ path('get_products') }}">
                                <i class="fa fa fa-user" style="margin-left: 5px;"></i>قائمة المستعملين
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-pencil " ></i>   إضافة مستعمل
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>أضف مستعمل</h3>
                </div>
            </div>
            <div class="row form-frame" style="margin-right: -2px;">
                {{ form_start(form, {'action': path('new_user'), 'method': 'POST'}) }}
                    <!-- ici coté droite de profile -->
                    <div class="col-md-4">
                        <div class="col-md-12 form-frame">
                            <img src="{{ asset('images/pic.png') }}" title="User Picture" class="userpicture center-block" id="showPic">

                            <div class="form-group">
                                <div class="fileUpload btn btn-primary center-block">
                                    <span>أضف صورة</span>
                                    {{ form_widget(form.img, {'attr': {'class':'upload'},'required':false}) }}
                                </div>
                            </div>
                            <br>
                            <p>
                            </p>
                            <br>
                            <div class="form-group">
                                <label>إسم المستعمل</label>
                                {{ form_widget(form.username) }}
                                <span style="color: red">{{ form_errors(form.username) }} </span>
                            </div>
                            <div class="form-group">
                                <label >رقم الهاتف</label>
                                {{ form_widget(form.phone_number) }}
                                <span style="color: red">{{ form_errors(form.phone_number) }} </span>
                            </div>

                        </div>
                    </div>

                    <!-- ici coté Gauche de profile -->
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h3>العنوان</h3>
                            </div>
                            <div class="col-md-12 form-frame">
                                <div class="form-group">
                                    {{ form_widget(form.address) }}
                                </div>

                                {{ form_widget(form.longitude) }}
                                {{ form_widget(form.latitude) }}
                                <div class="form-group">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h3>كلمة المرور</h3>
                        </div>
                        <div class="col-md-12 form-frame">
                            <div class="form-group">
                                <label for="password">كلمة المرور</label>
                                <input type="password" class="form-control" id="password" placeholder="كلمة المرور" required>
                            </div>
                            <div class="form-group">
                                <label >تأكيد كلمة المرور</label>
                                {{ form_widget(form.password) }}
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <br><p><br></p>

                        {{ form_widget(form.save, { 'label': 'حفظ' ,'id':'btn_submit'}) }}
                    </div>

                {{ form_end(form)  }}
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>

</div>
<script src="{{ asset('js/jQuery-2.1.4.min.js') }}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXy5q4nPSe1COAjrQNgRx7Wckardd7RxI&libraries=places"></script>
<script>
    //script d'affichage d'image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#showPic').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#user_img").change(function(){
        readURL(this);
    });

    //script pour l'auto complete @
    function initialisation() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -33.8688, lng: 151.2195},
            zoom: 13
        });
        var input = /** @type {!HTMLInputElement} */(
                document.getElementById('user_address'));

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }
            marker.setIcon(/** @type {google.maps.Icon} */({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
            document.getElementById('user_latitude').value= place.geometry.location.lat();
            document.getElementById('user_longitude').value= place.geometry.location.lng();

        });

    }
</script>
<script type="text/javascript">
    $(function () {
        $("#btn_submit").click(function () {
            var password = $("#password").val();
            var confirmPassword = $("#user_password").val();
            if (password != confirmPassword) {
                alert("كلمات المرور غير متطابقة.");
                return false;
            }
            return true;
        });
    });
</script>
</body>
</html>
